.experienceItem {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #eaeaea;
}

.experienceItem:last-child{
    border-bottom: none;
    padding-bottom: 0;
}

.date {
    color: #666;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    margin-bottom: 0.5rem;
}

.h3 {
    color: #296115;
}

.emphasize {
    padding: 0.5rem;
    border-radius: 1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #112a09;
    background-color: #e8fcba;
    border: 1px solid #e7f8ab;
    animation: 3s shade;
}

@keyframes shade {
    from {
        background-color: inherit;
        border: 1px solid white;
    }

    to {
        background-color: #e8fcba;
        border: 1px solid #e7f8ab;
    }
}

.emphasize:hover {
    transform: scale(1.01,1.01);
    background-color: #e7f8ab;
    box-shadow: 2px 2px 3px 2px rgba(127,127,127,0.3);
    transition: all 0.5s ease-in-out;
}
  