.mainContainer {
    /*make this container in center of page (horizontal)*/
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    box-sizing: border-box;
}

.mainContentArea {
    padding-right: 2rem;
}

.contentSection {
    margin-bottom: 2.5rem;
    padding: 1.5rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow:  rgba(0, 76, 255, 0.129);
}

.stickySidebar {
    position: sticky;
    top: 1.5rem; 
    max-height: calc(100vh - 2rem); 
    overflow-y: auto; 
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

