.h2 {
    color: #c1a11f;
    font-size: 36px;
    text-shadow: #f2ff00 0px 0px 10px;
}

.h3 {
    color: #7c660e;
}

.skillsList {
    list-style-type: none;
    padding: 0;
    padding-right: 1rem;
    margin: 0;
}

.skillsList li {
    margin-bottom: 1.5rem;
}

.skillsList h3 {
    margin-bottom: 0.8rem;
}

.skillContainer {
    position: relative;
    border-radius: 12px;
    background: #f7f1d1;
    padding: 6px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.15), 
                inset 0 -1px 4px rgba(255, 255, 255, 0.7);
}

.scrollableCardContainer {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden; 
    padding-bottom: 1rem; 
    padding-top: 0.8rem; 
    padding-left: 0.8rem;
    -webkit-overflow-scrolling: touch; 
    scrollbar-width: thin; 
    gap: 1rem; 
    /* width: 100%; 
    background-color: rgb(236, 236, 202); */
    border-radius: 8px;
    background-color: transparent;
}

.scrollableCardContainer > * {
    flex-shrink: 0; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.8s ease-in-out, box-shadow 0.8s ease-in-out;
}

.scrollableCardContainer > *:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.scrollableCardContainer::-webkit-scrollbar {
    height: 6px;
}

.scrollableCardContainer::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.scrollableCardContainer::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px;
}

.scrollableCardContainer::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}